body{
    background-color: bisque;
}
header{
    display: flex;
    justify-content: center;

}

main{
    display: flex;
    justify-content: center;
}

.flex{
    background-color: beige;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 30px 0px;
    margin: 20px 0px;
    width: 50vw;
}

.baris_1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin: 0px 10px;
}

.baris_2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin: 0px 10px;
}

input{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(244, 205, 185);
}

.filter_section{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    margin: 0px 10px;
    
}

.parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 224, 162);
    width: 65%;
    border-radius: 10px;
    box-shadow: 10px 15px 10px rgb(248, 205, 172);
}

.output_section{
    display: flex;
    justify-content: center;
}

button{
    border-radius: 5px;
    width: 100px;
    height: 35px;
    background-color: rgb(236, 188, 117);
}

.tugas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    font-size: 20px;
}

.head{
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 20px;
}

li{
    list-style: none;
}

h3{
    padding-left: 30px;
}

footer{
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 530px){
    input{
        width: 100%;
    }
}

@media screen and (max-width: 470px) {
    .flex{
        width: 100%;
    }
}
